<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'generateword/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Random Word Generator</title>
</head>

<body>
    <form action="" >
        <div class="wrapper">
            <div class="centered">
                Random Word (attempt # {{request.session.total}})
            </div>
            <div class="boxed centered">
                <h1>{{request.session.random_word}}</h1>
            </div>
            <div class="centered">
                <input type="submit" value="Generate" class="shadow p-3 mb-5 bg-white rounded">
            </div>
        </div>
    </form>
</body>

</html>