<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
    <style>
        .wrapper {
            width: 800px;
            margin: 15px auto;
        }
    </style>
</head>

<body>
    <div class="container">
        
        <h1>Info From Server:</h1>
        <p>Name: {{name}}</p>
        <p>Color: {{favorite_color}}</p>
        <p>Pets</p>
        <ul>
            {% for pet in pets %}
            <li>{{pet}}</li>
            {% endfor %}
        </ul>
        <form action="">
            name : <input type="text" value="enter your name here"> <br>
            email: <input type="email">
        </form>
    </div>
</body>

</html>